<%

@page_title = @page_title.nil? ? 'mgmt.jscdn' : @page_title + ' - mgmt.jscdn'

%><!DOCTYPE html >
<html lang="en">
<head>
    <title><%= @page_title %></title>
</head>

<body>
    <header><h1>JSCDN Management Server</h1></header>
<%= yield %>
</body>
</html>
