    <label for="library-name">Name</label>
    <input type="text" name="library[name]" id="library-name" value="<%= @library[:name] %>">

    <label for="library-url">URL</label>
    <input type="text" name="library[url]" id="library-url" value="<%= @library[:url] %>">

    <label for="library-url-template">URL template</label>
    <input type="text" name="library[url_template]" id="library-url-template" value="<%= @library[:url_template] %>">

