<%

@page_title = 'Adding new library'

%><h1>Adding new library</h1>

<form action="/libraries" method="post">
    <input type="hidden" name="_method" value="put">

<%= partial :'libraries/form' %>

    <input type="submit" value="Create">

</form>
